[unstable]
unstable-options=true
git=true
gitoxide=true
avoid-dev-deps=true
no-embed-metadata=true
trim-paths=true
parallel-tests=true
doctest=false
#build-std = ["std", "panic_abort"]
#build-std-features = ["panic_immediate_abort"]

[alias]
b ="build -r"
i ="install"
rr="run -r"

[build]
rustc-wrapper="sccache"
incremental=false
rustflags=[
  "-C",
  "target-cpu=native",
  "-C",
  "link-arg=-fuse-ld=lld",
]

[env]
RUSTC_BOOTSTRAP="1"
RUST_PANIC_STRATEGY="abort"
RUST_LIB_BACKTRACE="0"
RUSTC_LOG="off"
CMAKE_BUILD_TYPE="Release"
MALLOC_CONF="metadata_thp:auto,tcache:true,background_thread:true,percpu_arena:percpu,dirty_decay_ms:0,muzzy_decay_ms:0"
_RJEM_MALLOC_CONF="metadata_thp:auto,tcache:true,background_thread:true,percpu_arena:percpu,dirty_decay_ms:0,muzzy_decay_ms:0"
GITOXIDE_CORE_MULTIPACKINDEX="true"
SCCACHE_DIRECT="true"
SCCACHE_IDLE_TIMEOUT="10800"

[cache]
auto-clean-frequency="7 days"

[cache.global-clean]
max-src-age   ="1 month"
max-crate-age ="2 months"
max-index-age ="2 months"
max-git-co-age="1 month"
max-git-db-age="1 months"

[http]
timeout=30
check-revoke=false
multiplexing=true
low-speed-limit=10

[net]
git-fetch-with-cli=true
retry=2

[resolver]
incompatible-rust-versions="allow"

[profile.release]
opt-level=3
codegen-units=1
lto="fat"
panic="abort"
strip= true
debug=false
debug-assertions=false
overflow-checks=false
rpath=false

[profile.dev]
opt-level=1
lto=false
codegen-units=16
debug=false

[profile.release.build-override]
inherits="release"
opt-level=1
codegen-units=256
incremental=true

[target.x86_64-unknown-linux-gnu]
linker="clang"
rustflags=[
  "-C",
  "target-cpu=native",
  "-C",
  "link-arg=-fuse-ld=lld",
]

[term]
color="auto"
progress.when="auto"
progress.term-integration=true
