[unstable]
unstable-options = true
git = true
gitoxide = true
avoid-dev-deps = true
no-embed-metadata = true
profile-rustflags = true
trim-paths = true
parallel-tests = true 
mtime-on-use = true
checksum-freshness = true
feature-unification = true
doctest = false
panic-abort-tests = true
gc = true
#cargo-lints = true
#build-std = ["std", "panic_abort"]
#build-std-features = ["panic_immediate_abort"]

[alias]
b = "build -r"
i = "install"
rr = "run -r"

[build]
rustc-wrapper = "sccache"
incremental = false
rustflags = ["-C", "target-cpu=native", "-C", "llvm-args=-enable-dfa-jump-thread"]

# https://doc.rust-lang.org/cargo/reference/environment-variables.html
[env]
RUSTC_BOOTSTRAP = "1"
CARGO_CACHE_RUSTC_INFO = "1"
RUSTC_ICE = "0"
CARGO_LOG = "off"
RUSTDOC_LOG = "off"
RUSTC_LOG = "off"
MALLOC_CONF = "metadata_thp:auto,tcache:true,background_thread:true,percpu_arena:percpu,dirty_decay_ms:0,muzzy_decay_ms:0"
_RJEM_MALLOC_CONF = "metadata_thp:auto,tcache:true,background_thread:true,percpu_arena:percpu,dirty_decay_ms:0,muzzy_decay_ms:0"
RUST_LIB_BACKTRACE = "0"
CMAKE_BUILD_TYPE = "Release"

[cache]
auto-clean-frequency = "7 days"

[cache.global-clean]
max-src-age = "1 month"
max-crate-age = "2 months"
max-index-age = "2 months"
max-git-co-age = "1 month"
max-git-db-age = "1 months"

[http]
timeout = 30
check-revoke = false
multiplexing = true
low-speed-limit = 10
ssl-version = "tlsv1.3"

[net]
git-fetch-with-cli = true
retry = 2

[registries.crates-io]
protocol = "sparse"

[resolver]
incompatible-rust-versions = "allow"

[profile.release]
opt-level = 3
codegen-units = 1
lto = "fat"
panic = "abort"
strip = "symbols"
debug = false
debug-assertions = false
overflow-checks = false
rpath = false

[profile.dev]
opt-level = 1
lto = false
codegen-units = 16
debug = false

[profile.release.build-override]
inherits = "release"
opt-level = 0
lto = false
codegen-units = 256
incremental = true

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "target-cpu=native", "-C", "link-arg=-fuse-ld=mold", "-C", "llvm-args=-enable-dfa-jump-thread"]

[target.aarch64-linux-android]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld", "-C", "llvm-args=-enable-dfa-jump-thread"]

[term]
quiet = false
verbose = false
hyperlinks = true
color = "auto"
progress.when = "auto"
progress.term-integration = true
