# EditorConfig
# http://EditorConfig.org
root = true

# ---------------------
# Baseline
# ---------------------
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 2
# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false
quote_type = auto
spelling_language = en

# ---------------------
# Shell scripts
# ---------------------
[*.sh,*.bash*,.profile,bash*,.bash_*]
keep_padding = true
space_redirects = false
switch_case_indent = true
function_next_line = true
binary_next_line = true
shell_variant = bash

# ---------------------
# Fish shell
# ---------------------
[*.fish,fish_*]
indent_style = space
indent_size = 4
tab_width = 4

# ---------------------
# Markdown, Patches
# ---------------------
[*.md,*.patch]
trim_trailing_whitespace = false
insert_final_newline = true

[*.md]
indent_size = unset

# ---------------------
# Go, Rust, Zig, Makefiles
# ---------------------
[Makefile,*.mk,go.mod,go.sum,*.go,*.rs,*.zig,.gitmodules]
indent_style = tab
indent_size = 4
tab_width = 4

# ---------------------
# Python
# ---------------------
[*.py]
indent_style = space
indent_size = 4
tab_width = 4
