# ---------------------
# Dotter
# ---------------------
.dotter/local.toml
.dotter/cache.toml
.dotter/cache/

# ---------------------
# Dotfiles / shell history
# ---------------------
.*hist          # .hist files
.*history       # .history, .bash_history
.bash_history
fish_history
fishd.*
.cache
.thumbnails/
.wget-hsts
.lesshst

# ---------------------
# XDG user directories
# ---------------------
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# ---------------------
# Security
# ---------------------
.gnupg/
.gitconfig.local
.ssh/
!.ssh/config
.android/
.config/gh/hosts.yml

# ---------------------
# Backups
# ---------------------
*.bak
*.bak*          # matches .bak1, .bak2, etc.
*.gho
*.ori
*.orig
*.rej
*.TAG

# ---------------------
# Rust / Cargo
# ---------------------
**/*.rs.bk
**/mutants.out*/
.cargo/
!.cargo/config.toml

# ---------------------
# Logs and temporary files
# ---------------------
*.log
*.log.*
log/
logs/
*.old
*.tmp
tmp/
*.kate-swp
*swp.*
token
nohup.out
.~lock.*#
.nv/ComputeCache/

# ---------------------
# Linux system / editor files
# ---------------------
.directory
.Trash-*
.Trashes/
.fuse_hidden*
*~
.nfs*

# ---------------------
# Binary / compiled files
# ---------------------
*.com
*.dll
*.exe
*.o
*.so
__pycache__/
.pytest_cache/
*.pyc
*.pyo
node_modules/
target/
build/

# ---------------------
# Windows system files
# ---------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
