* text=auto eol=lf linguist-detectable

# Shell / scripts
*.sh text eol=lf diff=bash
*.bash text eol=lf diff=bash
.bashrc text eol=lf diff=bash
*.zsh text eol=lf diff=bash
.zshrc text eol=lf diff=bash

# Windows shell scripts keep CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.psm1 text eol=crlf
*.ahk text eol=crlf

# Programming languages
*.py text diff=python
*.py3 text diff=python
*.js text diff=java
*.lua text linguist-language=Lua
*.nix text linguist-language=Nix

# Configuration & data formats
*.json text diff=json linguist-language=JSON
*.jsonc text diff=json linguist-language=JSONC
*.yaml text diff=yaml linguist-language=YAML
*.yml text diff=yaml linguist-language=YAML
*.toml text diff=toml linguist-language=TOML
*.ron text linguist-language=RON
*.xml text diff=xml
*.html text diff=html
*.css text diff=css
*.md text diff=markdown linguist-detectable linguist-documentation
*.mdx text diff=markdown linguist-detectable linguist-documentation
*.markdown text diff=markdown linguist-detectable linguist-documentation
*.txt text linguist-documentation
*.csv text eol=crlf
*.doc diff=astextplain
*.docx diff=astextplain
*.dot diff=astextplain
*.pdf diff=astextplain
*.rtf diff=astextplain

# Images
*.jpg binary diff=exif
*.jpeg binary diff=exif
*.png binary diff=exif
*.webp binary diff=exif
*.avif binary diff=exif
*.jxl binary diff=exif
*.svg text

# Archives
*.gpg binary
*.7z binary
*.gz binary
*.tgz binary
*.tar binary
*.tar.* binary
*.zip binary
*.zstd binary
*.ttf binary

# Build / tooling specifics
Makefile text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=4
*.diff binary diff=patch linguist-language=Diff
*.patch binary diff=patch linguist-language=Diff
*.patch32   binary diff=patch linguist-language=Diff
*.patch64   binary diff=patch linguist-language=Diff
*.patch.*   binary diff=patch linguist-language=Diff

# Visual Studio
*.dsp text eol=crlf
*.dsw text eol=crlf
*.manifest text eol=crlf

# Git / repo files
.gitignore export-ignore
.gitkeep export-ignore
.ignore export-ignore
