[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = delta
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = micro
	autocrlf = input
	preloadIndex = true
	eol = native
	compression = -1
	#compression = 9
	multiPackIndex = true
	sparseCheckout = true
	sparseCheckoutCone = true
	fsyncMethod = batch
	repositoryformatversion = 1
	fileMode = true
	deltaBaseCacheLimit = 1g
	preferSymlinkRefs = true
	symlinks = true
	splitIndex = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[color]
	branch = "auto"
	diff = "auto"
	status = "auto"
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
	recurseSubmodules = on-demand
[pull]
	ff = only
	rebase = true
[clone]
    filterSubmodules = true
[pack]
	threads = 0
	allowPackReuse = true
	useSparse = true
	indexVersion = 2
	useBitmapBoundaryTraversal = true
	useBitmaps = true
	preferBitmapTips = true
	writeBitmapHashCache = true
	writeBitmapLookupTable = true
	window = 50
	depth = 50
	deltaCacheSize = 512m

[fetch]
	prune = true
	pruneTags = true
	all = true
	parallel = 0
	fsckobjects = true
[receive]
	autogc = true
	advertiseAtomic = true
[submodule]
	fetchJobs = 0
	recurse = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
	backend = merge
	missingCommitsCheck = true
	abbreviateCommands = true
[fsck]
	duplicateEntries = true
	gitmodulesSymlink = true
	gitmodulesUpdate = true
[gc]
	auto = 256
	autoPackLimit = 50
	autoDetach = true
	packRefs = true
	reflogExpireUnreachable = 0
	reflogExpire = 0
	aggressive = false
	aggressiveDepth = 250
	aggressiveWindow = 250
	repackFilter = blob:none
	pruneExpire = now
	rerereresolved = 0
	rerereunresolved = 0
[repack]
	cruftThreads = 0
[checkout]
	workers = 0
[grep]
	threads = 0
[index]
	skipHash = true
	sparse = true
	threads = 0
	version = 4
[remote "origin"]
	prune = true
[rerere]
	enabled = true
	autoupdate = true
[http]
	sslBackend = openssl
	maxRequests = 10
	version = HTTP/2
	sslVersion = tlsv1.3
	postBuffer = 104857600
[gui]
	fastCopyBlame = true
	pruneDuringFetch = true
	encoding = utf-8
[help]
	autoCorrect = prompt
[apply]
	whitespace = "fix"
[pager]
	log = delta
	reflog = delta
	show = delta
	diff = delta
	difftool = true
[delta]
	hyperlinks = true
	features = decorations
	line-numbers = true
	decorations = true
	navigate = true
[diff]
	algorithm = histogram
	suppressBlankEmpty = true
	renames = copies
	colorMoved = plain
	tool = meld
	nmemonicPrefix = true
	external = difft
	compactionHeuristic = true
[difftool]
	prompt = false
[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = true
[icdiff]
    options = "--line-numbers"
[merge]
	conflictStyle = zdiff3
	tool = meld
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "meld"]
	useAutoMerge = true


[protocol]
	version = 2
[feature]
	manyFiles = true
	experimental = true
[status]
	aheadBehind = true
	showUntrackedFiles = no
	short = true
	submoduleSummary = true

[maintenance]
	strategy = incremental
# File to store secrets
[include]
	path = ~/.gitconfig.local

[advice]
	statusUoption = false



[bash]
	showInformativeStatus = false
	showUntrackedFiles = false
	showDirtyState = false
	hideIfPwdIgnored = true

[credential]
    helper = store
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[alias]
	sub = submodule update --init --recursive
