* text=auto eol=lf

# Shell
*.sh text eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.ps1 text eol=crlf

# Use built-in patterns to generate smarter diff text.
# http://urbanautomaton.com/blog/2011/07/28/git-grep-and-language-specific-diffs/
*.js  diff=java
*.php diff=php
*.pl  diff=perl
*.py  diff=python
*.rb  diff=ruby
*.json diff=json

*.png binary diff=exif
*.jpg binary diff=exif
*.webp binary diff=exif
*.avif binary diff=exif

*.lock               diff=nodiff
package-lock.json    diff=nodiff
