[user]
	name = Ven0m0
	email = ven0m0.wastaken@gmail.com
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = delta
	whitespace = fix,-indent-with-non-tab,trailing-space,space-before-tab,cr-at-eol
	editor = $EDITOR
	autocrlf = input
	eol = native
	compression = 6
	fsyncMethod = batch
	deltaBaseCacheLimit = 1g
	untrackedCache = true
	symlinks = true
  commitGraph = true
  preloadindex = true
  abbrev = 12
[init]
	defaultBranch = main
[alias]
	st = status
	unstage = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	df = diff
	dc = diff --cached
  addall = add --all
  rbmain = pull --rebase origin main
  pushf = push --force-with-lease
  commitm = commit -m
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
 	discard = checkout --
	cleanup = !git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d
	dot = !--git-dir=$HOME/.dotfiles --work-tree=$HOME
[color]
	ui = auto
[push]
	default = current
	autoSetupRemote = true
	recurseSubmodules = on-demand
	followTags = true
[pull]
	ff = only
	rebase = true
[fetch]
	all = true
	prune = true
	pruneTags = true
	parallel = 0
	recurseSubmodules = on-demand
	negotiationAlgorithm = skipping
[pack]
	threads = 0
  compression = 6
  useSparse = true
  useBitmaps = true
	writeBitmapHashCache = true
	deltaCacheSize = 512m
  window = 128
  depth = 256
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
	missingCommitsCheck = true
[gc]
	auto = 256
	autoPackLimit = 50
	packRefs = true
	aggressive = true
  writeCommitGraph = true
  pruneExpire = 2.weeks.ago
[index]
	threads = 0
	version = 4
	skipHash = true
[checkout]
  guess = true
[rebase]
  autoStash = true
[rerere]
	enabled = true
	autoupdate = true
[http]
	version = HTTP/2
	postBuffer = 104857600
	followRedirects = true
  maxRequests = 10
[help]
	autoCorrect = prompt
[delta]
  navigate = true
  side-by-side = true
	line-numbers = true
  hyperlinks = true
	hunk-header-style = omit
[diff]
	tool = vscode
	algorithm = histogram
	colorMoved = dimmed_zebra
  colorMovedWS = allow-indentation-change
  context = 5
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	conflictStyle = zdiff3
	tool = vscode
  stat = true
[mergetool]
	prompt = false
	keepBackup = false
	hideResolved = true
[mergetool "vscode"]
	cmd = code --wait $MERGED
	useAutoMerge = true
[feature]
	manyFiles = true
[status]
	short = false
	submoduleSummary = true
	showUntrackedFiles = all
[commit]
	verbose = true
[branch]
	sort = -committerdate
[credential]
	helper = store
[credential "https://github.com"]
	helper = gh auth git-credential
[credential "https://gist.github.com"]
	helper = gh auth git-credential
[filter "lfs"]
	process = git-lfs filter-process
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[tag]
	sort = version:refname
[protocol]
  version = 2
[protocol "file"]
	allow = always
[maintenance]
  strategy = incremental
[include]
	path = ~/.gitconfig.local
