$include /etc/inputrc

set input-meta on output-meta on convert-meta off meta-flag on
set enable-keypad on enable-bracketed-paste on echo-control-characters off bind-tty-special-chars off
set menu-complete-display-prefix on show-all-if-ambiguous on show-all-if-unmodified on
set skip-completed-text on completion-map-case on completion-ignore-case on
set completion-query-items 200 completion-prefix-display-length 2
set mark-symlinked-directories on mark-directories on page-completions off match-hidden-files off
set colored-completion-prefix on colored-stats on visible-stats on bell-style none keyseq-timeout 100

"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[2~": quoted-insert
"\e[3~": delete-char
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOH": beginning-of-line
"\eOF": end-of-line
"\e[H": beginning-of-line
"\e[F": end-of-line
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\t": menu-complete
"\e[Z": menu-complete

$if Bash
	Space: magic-space
	"\e\C-l": "\C-e | less\C-m"
	"\es": "\C-a su -c '\C-e'\C-m"
	"\C-xq": "\eb\"\ef\""
	"\C-xr": redraw-current-line
	"\M-\C-v": "\C-a\C-k$\C-y\M-\C-e\C-a\C-y="
	"\e\C-b": "\C-e > /dev/null 2>&1 &\C-m"
$else
	$include function rl_custom_complete /usr/lib/librl_custom_complete.so
	"\C-i": rl_custom_complete
$endif
