unset historylog positionlog
set linenumbers softwrap autoindent smarthome trimblanks breaklonglines
set quickblank minibar mouse cutfromcursor tabstospaces zap unix saveonexit
set tabsize 2

include "/usr/share/nano/*.nanorc"
include "/usr/share/nano/extra/*.nanorc"
include "/usr/share/nano-syntax-highlighting/*.nanorc"

bind ^Z undo main
bind ^Y redo main
bind ^E execute main
bind ^F whereis main
