# https://docs.npmjs.com/cli/configuring-npm/npmrc
yes=true
workspaces-update=true
prefer-dedupe=true
prefer-offline=true
node-linker=hoisted
package-manager-strict=false
fund=false
audit=false
update-notifier=false
searchlimit=20
loglevel=error
color=true
unicode=true
progress=true
engine-strict=false
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=50
cache-min=3600
legacy-peer-deps=false
save-exact=false
ignore-scripts=false
cache=${XDG_CACHE_HOME}/npm
