# https://docs.npmjs.com/cli/configuring-npm/npmrc
yes=true
workspaces-update=true
prefer-dedupe=true
prefer-offline=true
node-linker=hoisted
package-manager-strict=false
fund=false
audit=false
update-notifier=false
searchlimit=20
loglevel=error
color=true
unicode=true
progress=true
