# General
color=true
unicode=true
progress=true
loglevel=warn
yes=true

# Performance
prefer-offline=true
prefer-dedupe=true
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=1000
fund=false
audit=false
package-lock=false
cache-min=3600
searchlimit=20

# Install behavior
auto-install-peers=true
workspaces-update = true

#global = true
