! Get nice keys such as home/end working in xterms.
! Shift-Control C/V for copy/paste to CLIPBOARD.
! Shift Up/Down arrow for scrolling one line at a time.
*VT100.Translations: #override \
    <Key>Home: string("\033[1~")\n\
    <Key>End: string("\033[4~")\n\
    Shift Ctrl <Key>C: copy-selection(CLIPBOARD)\n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD)\n\
    Shift <Key>Up: scroll-back(1)\n\
    Shift <Key>Down: scroll-forw(1)

! Font related settings.
Xft.antialias: 1
Xft.autohint: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
