default_profile = "default"
cache_path = "~/.cache/soar"
db_path = "~/.local/share/soar/db"
bin_path = "~/.local/bin"
repositories_path = "~/repos"
portable_dirs = "~/portable-dirs"
parallel = true
parallel_limit = 24
ghcr_concurrency = 16
search_limit = 50
cross_repo_updates = false
timeout = 300
retry_attempts = 3
retry_delay = 2
use_cache = true
compress_cache = true
verify_checksums = true
install_patterns = [
  "!*.log",
  "!*.txt",
  "!*.md",
  "!*.rst",
  "!SBUILD",
  "!*.json",
  "!*.version",
  "!*.yml",
  "!*.yaml",
  "!LICENSE*",
  "!README*",
  "!CHANGELOG*",
  "!CONTRIBUTING*",
  "!*.example",
  "!*.sample",
  "!*.test",
  "!*.spec",
  "!docs/**",
  "!examples/**",
  "!tests/**",
]

[profile.default]
root_path = "~"
packages_path = "~/packages"

[[repositories]]
name = "pkgcache"
url = "https://meta.pkgforge.dev/pkgcache/x86_64-Linux.sdb.zstd"
desktop_integration = true
pubkey = "https://meta.pkgforge.dev/pkgcache/minisign.pub"
enabled = true
signature_verification = true
sync_interval = "4h"
priority = 10

[[repositories]]
name = "bincache"
url = "https://meta.pkgforge.dev/bincache/x86_64-Linux.sdb.zstd"
desktop_integration = false
pubkey = "https://meta.pkgforge.dev/bincache/minisign.pub"
enabled = true
signature_verification = true
sync_interval = "4h"
priority = 9

[[repositories]]
name = "ivan-hc-am"
url = "https://meta.pkgforge.dev/external/am/x86_64-Linux.sdb.zstd"
desktop_integration = true
enabled = true
signature_verification = true
sync_interval = "8h"
priority = 8

[[repositories]]
name = "appimage-github-io"
url = "https://meta.pkgforge.dev/external/appimage.github.io/x86_64-Linux.sdb.zstd"
desktop_integration = true
enabled = true
signature_verification = true
sync_interval = "8h"
priority = 7

[[repositories]]
name = "pkgforge-cargo"
url = "https://meta.pkgforge.dev/external/pkgforge-cargo/x86_64-Linux.sdb.zstd"
desktop_integration = false
enabled = false
signature_verification = true
sync_interval = "24h"
priority = 5

[[repositories]]
name = "pkgforge-go"
url = "https://meta.pkgforge.dev/external/pkgforge-go/x86_64-Linux.sdb.zstd"
desktop_integration = false
enabled = false
signature_verification = true
sync_interval = "24h"
priority = 5
