default_profile = "default"
cache_path = "~/.cache/soar"
db_path = "~/.local/share/soar/db"
bin_path = "~/.local/bin"
repositories_path = "~/repos"
portable_dirs = "~/portable-dirs"
parallel = true
parallel_limit = 16
ghcr_concurrency = 12
search_limit = 25
cross_repo_updates = false
install_patterns = [
  "!*.log", "!*.txt", "!*.md",
  "!SBUILD", "!*.json", "!*.version",
  "!LICENSE*", "!README*", "!CHANGELOG*"
]

[profile.default]
root_path = "~"
packages_path = "~/packages"

[[repositories]]
name = "pkgcache"
url = "https://meta.pkgforge.dev/pkgcache/x86_64-Linux.sdb.zstd"
desktop_integration = true
pubkey = "https://meta.pkgforge.dev/pkgcache/minisign.pub"
enabled = true
signature_verification = true
sync_interval = "6h"

[[repositories]]
name = "bincache"
url = "https://meta.pkgforge.dev/bincache/x86_64-Linux.sdb.zstd"
desktop_integration = false
pubkey = "https://meta.pkgforge.dev/bincache/minisign.pub"
enabled = true
signature_verification = true
sync_interval = "6h"

[[repositories]]
name = "ivan-hc-am"
url = "https://meta.pkgforge.dev/external/am/x86_64-Linux.sdb.zstd"
desktop_integration = true
enabled = true
signature_verification = true
sync_interval = "12h"

[[repositories]]
name = "appimage-github-io"
url = "https://meta.pkgforge.dev/external/appimage.github.io/x86_64-Linux.sdb.zstd"
desktop_integration = true
enabled = true
signature_verification = true
sync_interval = "12h"

[[repositories]]
name = "pkgforge-cargo"
url = "https://meta.pkgforge.dev/external/pkgforge-cargo/x86_64-Linux.sdb.zstd"
desktop_integration = false
enabled = false
signature_verification = true
sync_interval = "24h"

[[repositories]]
name = "pkgforge-go"
url = "https://meta.pkgforge.dev/external/pkgforge-go/x86_64-Linux.sdb.zstd"
desktop_integration = false
enabled = false
signature_verification = true
sync_interval = "24h"
