[settings]
experimental = true
auto_install = true
color = true
yes = true
activate_aggressive = true
jobs = 8
lockfile = true
python_venv_auto_create = true
gix = true
go_skip_checksum = true

[settings.npm]
bun = true

[settings.python]
compile = true
precompiled_os = "x86_64_v3"
venv_create_args = ["--system-site-packages"]
uv_venv_auto = true

[settings.pipx]
uvx = true

[settings.cargo]
binstall = true

[settings.node]
compile = true

[tools]
java = "oracle-graalvm"
"cargo:cargo-alias-exec" = "latest"
"cargo:cargo-syu" = "latest"
"cargo:cargo-list" = "latest"
"cargo:cargo-fresh" = "latest"
"cargo:image-find" = "latest"
"cargo:rimage" = { version = "latest", features = "build-binary", default-features = true }
"cargo:https://github.com/Blobfolio/flaca" = "latest"
"cargo:image-optimizer" = "latest"
"cargo:imgc" = "latest"
"cargo:icu_tool" = "latest"
"cargo:compresscli" = "latest"
"cargo:ffzap" = "latest"
"cargo:ab-av1" = "latest"
"cargo:minhtml" = "latest"
"cargo:mpatch" = "latest"
"cargo:fdf" = "latest"
"cargo:frep" = "latest"
"cargo:ripuniq" = "latest"
"cargo:https://github.com/fthomys/update-alternatives" = "latest"
"cargo:caligula" = "latest"
"cargo:roxide" = "latest"
"cargo:dedup" = "latest"
"cargo:nvidia_oc" = "latest"
"cargo:shell-mommy" = "latest"
"cargo:cargo-mommy" = "latest"
"cargo:etchdns" = "latest"
"github:zeroBzeroT/ChunkCleaner" = "latest"
cpz = "latest"
rmz = "latest"

[env]
_.python.venv = { path = "{{env.HOME}}/.venv", create = true, uv_create_args = ["--system-site-packages", "--seed"] }
DO_NOT_TRACK = "1"
MISE_NODE_NINJA = "true"
MISE_NODE_CONCURRENCY = "12"
CARGO_HTTP_MULTIPLEXING = "true"
UV_LINK_MODE = "hardlink"
UV_COMPILE_BYTECODE = "1"
UV_CONCURRENT_DOWNLOADS = "16"
GRAALVM_HOME = "${MISE_INSTALLS}/graalvm/${version}"
PATH = "${GRAALVM_HOME}/bin:${PATH}"

[tasks.clean]
depends = ['cleancache']
run = "cargo cache -efg; cargo clean"

[tasks.cleancache]
run = "rm -rf ~/.cache/*"
hide = true

[tasks.bunx]
description = 'Bunx'
run = "bunx --bun"
alias = 'bx'

[tasks.cbin]
description = 'Mise cargo-binstall use'
run = "env MISE_CARGO_BINSTALL=true mise use -gy"

