[settings]
experimental = true
auto_install = true
color = true
yes = true
activate_aggressive = true
jobs = 12
lockfile = true
python.uv_venv_auto = true
python_venv_auto_create = true
gix = true
go_skip_checksum = true
legacy_version_file = true 
always_keep_download = false
always_keep_install = false
verbose = false
not_found_auto_install = true
disable_default_shorthands = false
cargo_binstall = true
pipx_uvx = true
npm.bun = true

[settings.python]
compile = true
precompiled_os = "x86_64_v3"
venv_create_args = ["--system-site-packages"]

[settings.node]
compile = true

[tools]
#java = "oracle-graalvm"
java = "temurin"
"github:zeroBzeroT/ChunkCleaner" = "latest"
# Cargo Tools
cpz = "latest"
rmz = "latest"
"cargo:cargo-alias-exec" = "latest"
"cargo:cargo-syu" = "latest"
"cargo:cargo-list" = "latest"
"cargo:cargo-fresh" = "latest"
"cargo:image-find" = "latest"
"cargo:cargo-minify" = "latest"
"cargo:cargo-diet" = "latest"
"cargo:rimage" = { version = "latest", features = "build-binary", default-features = true }
"cargo:https://github.com/Blobfolio/flaca" = "latest"
"cargo:image-optimizer" = "latest"
"cargo:pixelsqueeze" = "latest"
"cargo:imagineer" = "latest"
"cargo:imgc" = "latest"
"cargo:icu_tool" = "latest"
"cargo:compresscli" = "latest"
"cargo:ffzap" = "latest"
"cargo:ab-av1" = "latest"
"cargo:minhtml" = "latest"
"cargo:mpatch" = "latest"
"cargo:fdf" = "latest"
"cargo:frep" = "latest"
"cargo:ripunzip" = "latest"
"cargo:ripuniq" = "latest"
"cargo:https://github.com/fthomys/update-alternatives" = "latest"
"cargo:caligula" = "latest"
"cargo:roxide" = "latest"
"cargo:dedup" = "latest"
"cargo:nvidia_oc" = "latest"
"cargo:shell-mommy" = "latest"
"cargo:cargo-mommy" = "latest"
"cargo:etchdns" = "latest"
"cargo:xcp" = "latest"
"cargo:bssh" = "latest"
"cargo:dupe-krill" = "latest"
"cargo:terminal_tools" = "latest"
"cargo:dui-cli" = "latest"
"cargo:vicut" = "latest"
"cargo:bgone" = "latest"
"cargo:kanata" = "latest"
"cargo:youtube-tui" = "latest"

[env]
_.python.venv = { path = ".venv", create = true, uv_create_args = ["--system-site-packages", "--seed"] }
DO_NOT_TRACK = "1"
MISE_NODE_NINJA = "true"
MISE_NODE_CONCURRENCY = "12"
MISE_CARGO_BINSTALL = "true"
CARGO_NET_GIT_FETCH_WITH_CLI = "true"
CARGO_HTTP_MULTIPLEXING = "true"
RUSTC_WRAPPER = "sccache"
RUSTC_LINKER = "clang"
RUSTFLAGS = "-Copt-level=3 -Ctarget-cpu=native -Ccodegen-units=1 -Clto=fat -Cstrip=symbols -Cllvm-args=-enable-dfa-jump-thread -Clink-arg=-fuse-ld=mold"
SCCACHE_DIRECT = "true"
CMAKE_BUILD_TYPE = "Release"
GITOXIDE_CORE_MULTIPACKINDEX = "true"
