[settings]
experimental = true
auto_install = true
color = true
python_venv_auto_create = true
gix = true
go_skip_checksum = true
exec_auto_install = true
lockfile = true
not_found_auto_install = true
task_run_auto_install = true
yes = true
activate_aggressive = false
jobs = 8

[settings.npm]
bun = true

[settings.python]
venv_auto_create = true
uv_venv_auto = true

[settings.pipx]
uvx = true

[settings.cargo]
binstall = false

[tools]
minify = "latest"
vfox = "latest"
java = "oracle-graalvm"
#java = "temurin"
#black = "latest"

[env]
_.python.venv = { path = ".venv" }
DO_NOT_TRACK = "1"
BUN_OPTIONS = "--linker=hoisted --backend=hardlink --dns-result-order=ipv4first"
CARGO_HTTP_MULTIPLEXING = "true"
UV_LINK_MODE = "hardlink"

[tasks.clean]
depends = ['cleancache']
run = "cargo cache -efg; cargo clean"
hide = true

[tasks.cleancache]
run = "rm -rf ~/.cache/*"
hide = true

[tasks.bunx]
description = 'Bunx'
run = "bunx --bun"
alias = 'bx'
