[settings]
experimental = true
auto_install = true
color = true
python_venv_auto_create = true
gix = true
go_skip_checksum = true
exec_auto_install = true
lockfile = true
not_found_auto_install = true
task_run_auto_install = true
yes = true
activate_aggressive = false
jobs = 8

[settings.npm]
bun = true

[settings.python]
venv_auto_create = true
uv_venv_auto = true
compile = true
precompiled_os = "x86_64_v3"
venv_create_args = ["--system-site-packages --symlinks"]

[settings.pipx]
uvx = true

[settings.cargo]
binstall = false

[settings.node]
compile = true

[tools]
minify = "latest"
vfox = "latest"
java = "oracle-graalvm" #java = "temurin"
bun = "latest"
black = "latest"
#rust = { version = "nightly", profile = "minimal", components = "rust-src,llvm-tools,llvm-bitcode-linker,rust-analyzer", targets = "x86_64-unknown-linux-gnu,wasm32-unknown-unknown }
"cargo:rimage" = { version = "latest", features = "build-binary", default-features = true }

[env]
_.python.venv = { path = "{{env.HOME}}/.venv", create = true, uv_create_args = ["--system-site-packages", "--seed"] }
#_.python.venv = { path = ".venv", create = true, uv_create_args = ['--seed'] }
DO_NOT_TRACK = "1"
BUN_OPTIONS = "--linker=hoisted --backend=hardlink --dns-result-order=ipv4first"
MISE_NODE_NINJA = "true"
MISE_NODE_CONCURRENCY = "12"
CARGO_HTTP_MULTIPLEXING = "true"
UV_LINK_MODE = "hardlink"
ENABLE_BETA_FEATURES = { required = true }

[tasks.clean]
depends = ['cleancache']
run = "cargo cache -efg; cargo clean"
hide = true

[tasks.cleancache]
run = "rm -rf ~/.cache/*"
hide = true

[tasks.bunx]
description = 'Bunx'
run = "bunx --bun"
alias = 'bx'
