[settings]
experimental = true
auto_install = true
color = true
yes = true
activate_aggressive = true
jobs = 8
lockfile = true
python_venv_auto_create = true
gix = true
go_skip_checksum = true
legacy_version_file = true 
always_keep_download = false
always_keep_install = false
verbose = false
not_found_auto_install = true
disable_default_shorthands = false
cargo_binstall = true
pipx_uvx = true
npm.bun = true

[settings.npm]
bun = true

[settings.python]
compile = true
precompiled_os = "x86_64_v3"
venv_create_args = ["--system-site-packages"]
uv_venv_auto = true

[settings.pipx]
uvx = true

[settings.cargo]
binstall = true

[settings.node]
compile = true

[tools]
java = "oracle-graalvm"
"github:zeroBzeroT/ChunkCleaner" = "latest"
# Cargo Tools
cpz = "latest"
rmz = "latest"
"cargo:cargo-alias-exec" = "latest"
"cargo:cargo-syu" = "latest"
"cargo:cargo-list" = "latest"
"cargo:cargo-fresh" = "latest"
"cargo:image-find" = "latest"
"cargo:cargo-minify" = "latest"
"cargo:cargo-diet" = "latest"
"cargo:rimage" = { version = "latest", features = "build-binary", default-features = true }
"cargo:https://github.com/Blobfolio/flaca" = "latest"
"cargo:image-optimizer" = "latest"
"cargo:pixelsqueeze" = "latest"
"cargo:imagineer" = "latest"
"cargo:imgc" = "latest"
"cargo:icu_tool" = "latest"
"cargo:compresscli" = "latest"
"cargo:ffzap" = "latest"
"cargo:ab-av1" = "latest"
"cargo:minhtml" = "latest"
"cargo:mpatch" = "latest"
"cargo:fdf" = "latest"
"cargo:frep" = "latest"
"cargo:ripunzip" = "latest"
"cargo:ripuniq" = "latest"
"cargo:https://github.com/fthomys/update-alternatives" = "latest"
"cargo:caligula" = "latest"
"cargo:roxide" = "latest"
"cargo:dedup" = "latest"
"cargo:nvidia_oc" = "latest"
"cargo:shell-mommy" = "latest"
"cargo:cargo-mommy" = "latest"
"cargo:etchdns" = "latest"
"cargo:xcp" = "latest"
"cargo:bssh" = "latest"
"cargo:dupe-krill" = "latest"
"cargo:terminal_tools" = "latest"
"cargo:dui-cli" = "latest"
"cargo:vicut" = "latest"
"cargo:bgone" = "latest"
"cargo:kanata" = "latest"
"cargo:youtube-tui" = "latest"

[env]
_.python.venv = { path = "{{env.HOME}}/.venv", create = true, uv_create_args = ["--system-site-packages", "--seed"] }
DO_NOT_TRACK = "1"
MISE_NODE_NINJA = "true"
MISE_NODE_CONCURRENCY = "12"
MISE_CARGO_BINSTALL = "true"
UV_LINK_MODE = "hardlink"
UV_COMPILE_BYTECODE = "1"
UV_CONCURRENT_DOWNLOADS = "16"
GRAALVM_HOME = "${MISE_INSTALLS}/graalvm/${version}"
PATH = "${GRAALVM_HOME}/bin:${PATH}"
RUSTC_BOOTSTRAP = "1"
RUST_PANIC_STRATEGY = "abort"
RUST_MIN_STACK = "16777216"
CARGO_CACHE_RUSTC_INFO = "1"
CARGO_INCREMENTAL = "0"
CARGO_PROFILE_RELEASE_LTO = "true"
CARGO_NET_GIT_FETCH_WITH_CLI = "true"
CARGO_HTTP_MULTIPLEXING = "true"
OPT_LEVEL = "3"
RUSTC_WRAPPER = "sccache"
RUSTC_LINKER = "clang"
RUSTFLAGS = "-Copt-level=3 -Ctarget-cpu=native -Ccodegen-units=1 -Clto=fat -Cstrip=symbols -Cllvm-args=-enable-dfa-jump-thread -Clink-arg=-fuse-ld=mold -Zunstable-options -Ztune-cpu=native -Zgit -Zgitoxide"
CC = "sccache clang"
CXX = "sccache clang++"
SCCACHE_DIRECT = "true"
SCCACHE_RECACHE = "true"
SCCACHE_IDLE_TIMEOUT = "10800"
CMAKE_BUILD_TYPE = "Release"
GITOXIDE_CORE_MULTIPACKINDEX = "true"

[tasks.clean]
depends = ['cleancache']
run = "cargo cache -efg; cargo clean"

[tasks.cleancache]
run = "rm -rf ~/.cache/*"
hide = true

[tasks.bunx]
description = 'Bunx'
run = "bunx --bun"
alias = 'bx'

[tasks.cbin]
description = 'Mise cargo-binstall use'
run = "env MISE_CARGO_BINSTALL=true mise use -gy"

