# Mise Configuration | https://mise.jdx.dev/configuration.html
[settings]
experimental = true
color = true
yes = true
auto_install = true
jobs = 16
lockfile = true
activate_aggressive = true
paranoid = false
raw = false
gix = true
go_skip_checksum = true
cache_prune_age = "7d"
http_timeout = "30s"
disable_default_shorthands = false

[settings.python]
uv_venv_auto = true
uv_venv_create_args = ["--system-site-packages", "--clear", "--no-managed-python"]
precompiled_os = "x86_64_v3"
precompiled_flavor = "pgo+lto"

[settings.cargo]
binstall = true

[settings.pipx]
uvx = true

[settings.npm]
package_manager = "bun"

# Tools Configuration
[tools]
# java = "oracle-graalvm"
#"ubi:zeroBzeroT/ChunkCleaner" = "latest"
#"cargo:https://github.com/ComunidadAylas/PackSquash" = "latest"
# Image & media tools
# "cargo:rimage" = { version = "latest", features = "build-binary", default-features = true }
"cargo:image-optimizer" = "latest"
#"cargo:imgc" = "latest"
"cargo:ffzap" = "latest"
# Cargo utilities
"cargo:cargo-alias-exec" = "latest"
"cargo:cargo-list" = "latest"
#"cargo:cargo-minify" = "latest"
#"cargo:cargo-diet" = "latest"
# Utility tools
cpz = "latest"
rmz = "latest"
#"cargo:vicut" = "latest"
"cargo:filerefine" = "latest"
"cargo:https://github.com/fthomys/update-alternatives" = "latest"
#"cargo:roxide" = "latest"
#"cargo:submod" = "latest"
#"cargo:nvidia_oc" = "latest"
"cargo:dui-cli" = "latest"
#"cargo:etchdns" = "latest"
#lefthook = "latest"
# minify = "latest"
#"npm:@adguard/aglint" = "latest"
#"npm:@adguard/dead-domains-linter" = "latest"
#"npm:@adguard/hostlist-compiler" = "latest"
"cargo:sy" = "latest"

[env]
_.python.venv = { path = ".venv", create = true, uv_create_args = ["--system-site-packages", "--clear", "--no-managed-python"] }
#_.java.GRAALVM_HOME = "${MISE_INSTALLS}/graalvm/${version}"
NODE_ENV = 'production'
UV_LINK_MODE = "hardlink"
PYTHONOPTIMIZE = "1"
DO_NOT_TRACK = "1"
MISE_NPM_PACKAGE_MANAGER = "bun"
MISE_NODE_NINJA = "true"
NODE_SKIP_PLATFORM_CHECK = "1"
NODE_TLS_REJECT_UNAUTHORIZED = "0"
NODE_NO_WARNINGS = "1"
CARGO_NET_GIT_FETCH_WITH_CLI = "false"
CARGO_HTTP_MULTIPLEXING = "true"
BINSTALL_DISABLE_TELEMETRY = "true"
RUSTC_BOOTSTRAP = "1"
RUSTC_WRAPPER = "sccache"
