#urlbar-container:hover ~ .toolbarbutton-1:not([open]),
#urlbar-container:hover ~ #stop-reload-button > .toolbarbutton-1,
#nav-bar > #nav-bar-customization-target:hover ~ toolbarbutton:not([open]),
#nav-bar > #nav-bar-customization-target:hover ~ toolbaritem:not([open]) > .toolbarbutton-1,
toolbar .toolbarbutton-1:not([open]),
.titlebar-button,
#tabbrowser-tabs toolbarbutton,
#scrollbutton-up:not(:hover),
#scrollbutton-down:not(:hover) {
  background-image: radial-gradient(
    circle at center,
    var(--toolbarbutton-icon-fill, currentColor) 0,
    var(--toolbarbutton-icon-fill, currentColor) 10%,
    transparent 15%
  );
}
toolbar:hover + toolbar .toolbarbutton-1,
vbox:hover + toolbar .toolbarbutton-1,
toolbar:hover .toolbarbutton-1,
#tabbrowser-tabs:hover toolbarbutton,
.titlebar-buttonbox:hover > .titlebar-button {
  background-image: none;
}
#urlbar-container:hover ~ .toolbarbutton-1:not([open]) > *,
#urlbar-container:hover ~ #stop-reload-button > .toolbarbutton-1 > *,
#nav-bar > #nav-bar-customization-target:hover ~ toolbarbutton:not([open]) > *,
toolbar .toolbarbutton-1 > *,
.titlebar-button > *,
#tabbrowser-tabs toolbarbutton > * {
  transform: scale(0);
  transition: transform 82ms linear !important;
}
#scrollbutton-up > .toolbarbutton-icon,
#scrollbutton-down > .toolbarbutton-icon {
  transform: scale(0) !important;
  transition: transform 82ms linear !important;
}
toolbar:hover .toolbarbutton-1:not(#PanelUI-menu-button) > *,
#nav-bar-overflow-button:hover + #PanelUI-button > .toolbarbutton-1 > stack,
#PanelUI-menu-button:hover > stack,
#TabsToolbar:hover ~ toolbar .toolbarbutton-1 > *,
.toolbarbutton-1[open] > *,
.titlebar-buttonbox:hover > .titlebar-button > *,
#tabbrowser-tabs:hover toolbarbutton > * {
  transform: scale(1);
}
#scrollbutton-up:hover > .toolbarbutton-icon {
  transform: scale(1) !important;
}
#scrollbutton-down:hover > .toolbarbutton-icon {
  transform: scale(-1) !important;
}
.urlbar-icon {
  transition: transform 82ms linear !important;
}
#urlbar:not(:hover) .urlbar-icon:not([open]) {
  transform: scale(0.3);
}
#PanelUI-button {
  border-left: 0 !important;
  margin-left: 0 !important;
}
#nav-bar:not(:hover) > #PanelUI-button > #PanelUI-menu-button[badge-status],
#navigator-toolbox:not(:hover) #downloads-button[attention] {
  filter: brightness(2) drop-shadow(0 0 3px orange) drop-shadow(0 0 1px orange);
}
#nav-bar:not(:hover) > #PanelUI-button > #PanelUI-menu-button[badge-status^="update"],
#navigator-toolbox:not(:hover) #downloads-button[attention="success"] {
  filter: brightness(2) drop-shadow(0 0 2px cyan) drop-shadow(0 0 1px cyan);
}
