/* Merged Firefox chrome styles - Compact UI + Custom tweaks */

:root {
  --toolbarbutton-inner-padding: 6px !important;
  --tab-block-margin: 2px !important;
  --tabs-shadow-size: 0 !important;
  --arrowpanel-menuitem-padding-block: 5px !important;
  --panel-font-size: inherit !important;
  --arrowpanel-padding: 0.8em !important;
  --inline-tab-padding: 8px !important;
  --tab-inline-padding: 8px !important;
  --item_y_padding: 3px;
  --y_padding_before_label: 24px !important;
  --y_padding_before_label_bm: 12px !important;
  --y_padding_before_label_sep: 12px !important;
  --panel-padding: 0 !important;
  --arrowpanel-menuitem-margin: 0 !important;
  --arrowpanel-menuitem-padding: calc(var(--item_y_padding) + 1px) 2px !important;
  --panel-subview-body-padding: 0 !important;
  --user-tab-rounding: 4px;
  --uei-icon-size: 16px;
}

/* Tab compact styles */
.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
  padding: 0 !important;
  background-image: linear-gradient(
    transparent 20%,
    color-mix(in srgb, currentColor 20%, transparent) 20%,
    color-mix(in srgb, currentColor 20%, transparent) 80%,
    transparent 80%
  );
  background-size: 1px 100%;
  background-repeat: no-repeat;
}
.tab-background {
  border-radius: var(--user-tab-rounding) !important;
}
.tabbrowser-tab:not([selected='true']):not([multiselected='true']):not([beforeselected-visible='true'])
  .tab-background {
  border-right: 1px solid var(--lwt-background-tab-separator-color, rgba(0, 0, 0, 0.2)) !important;
  border-radius: 0 !important;
}
[brighttext='true']
  .tabbrowser-tab:not([selected='true']):not([multiselected='true']):not([beforeselected-visible='true'])
  .tab-background {
  border-right: 1px solid
    var(--lwt-background-tab-separator-color, var(--lwt-selected-tab-background-color, rgba(255, 255, 255, 0.2))) !important;
}
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:hover + .tabbrowser-tab:not([first-visible-unpinned-tab]),
.tabbrowser-tab:is(:hover, :first-child, [selected], [multiselected]),
.tabbrowser-tab:is([selected], [multiselected]) + .tabbrowser-tab[hidden] + .tabbrowser-tab,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:is([multiselected], [selected]) + .tabbrowser-tab,
tab-group[collapsed] + .tabbrowser-tab,
tab-group > .tabbrowser-tab:first-of-type,
tab-group:has(> .tabbrowser-tab:last-child:is(:hover, [selected], [multiselected])) + .tabbrowser-tab {
  background-image: none;
}
.tab-label-container[textoverflow]:not([pinned]) {
  mask-image: unset !important;
}
.tab-close-button {
  margin-inline-start: 0 !important;
  width: 20px !important;
  height: 20px !important;
  padding: 5px !important;
}
.tab-group-label-container {
  padding-inline-start: 2px;
}
#tabbrowser-tabs {
  --uc-tabs-scrollbutton-border: 2px;
}
#scrollbutton-up,
#scrollbutton-down {
  border-block-width: var(--uc-tabs-scrollbutton-border, 0) !important;
}

/* Navbar compact */
#nav-bar {
  box-shadow: inset 0 var(--tabs-shadow-size) 0 var(--lwt-tabs-border-color) !important;
}
#urlbar[breakout][breakout-extend] {
  margin-left: 0 !important;
  width: var(--urlbar-width) !important;
  margin-top: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
}
.urlbarView {
  margin-inline: 0 !important;
  width: auto !important;
}
.urlbarView-row {
  padding: 0 2px !important;
}
.urlbarView-row-inner {
  padding-inline-start: 4px !important;
}
#urlbar-background {
  animation: none !important;
}
.urlbar-input-container {
  padding: 0 1px !important;
  height: initial !important;
}
#identity-icon {
  margin-block: var(--urlbar-icon-padding);
}
.urlbarView > .search-one-offs:not([hidden]) {
  padding-block: 0 !important;
}

/* Menus compact */
.subviewbutton.bookmark-item {
  padding-block: 4px !important;
}
.subview-subheader {
  display: block;
}
menupopup > menuitem,
menupopup > menu {
  padding-block: 0.3em !important;
}
.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton:not(#appMenu-fxa-status2),
.widget-overflow-list .toolbarbutton-1 {
  margin: 0 !important;
  min-height: 0 !important;
  padding: calc(var(--item_y_padding) + 1px) 2px !important;
}
.widget-overflow-list .toolbarbutton-1 {
  padding: var(--item_y_padding) 2px !important;
}
#appMenu-popup .PanelUI-subView .subviewbutton:not(#appMenu-fxa-status2) {
  padding: calc(var(--item_y_padding) + 1px) 4px !important;
}
menupopup[type='arrow'] > :is(menuitem, menu) {
  padding-block: 0 !important;
  padding: var(--item_y_padding) 0 !important;
  padding-inline-start: 4px !important;
}
.panel-subview-body {
  padding: 0 !important;
}
menuseparator {
  padding-block: 0 !important;
}
:is(menupopup, panel)[type='arrow'] {
  --panel-padding: 0 !important;
}
#context-navigation :is(#context-back, #context-forward, #context-reload, #context-stop, #context-bookmarkpage) {
  padding: var(--item_y_padding) 2px !important;
  margin-inline-start: -6px !important;
}
:is(#context-back, #context-forward, #context-reload, #context-stop, #context-bookmarkpage) image {
  margin: 0 !important;
  padding: 0 !important;
  padding-inline-start: 4px !important;
  height: 16px !important;
}
:is(menupopup, panel)[type='arrow'] :is(.menu-accel, .menu-iconic-accel) {
  margin-inline-end: 8px !important;
}
:is(menupopup, panel)[type='arrow'] .menu-right {
  margin-inline-end: 4px !important;
}
.menu-iconic-icon {
  margin-inline-start: 2px !important;
  margin-inline-end: -2px !important;
}
.menu-icon {
  margin-inline: 2px !important;
}

@media (-moz-platform: windows) {
  menupopup > :is(menuitem, menu) {
    padding-block: 0 !important;
    padding: var(--item_y_padding) 4px !important;
  }
  menupopup {
    --panel-padding: 0 !important;
  }
  :is(menupopup, panel) :is(.menu-accel, .menu-iconic-accel) {
    margin-inline-end: 4px !important;
  }
  :is(menupopup, panel) .menu-right {
    margin-inline-end: 4px !important;
  }
  menugroup#context-navigation > menuitem.menuitem-iconic > :is(.menu-icon, hbox.menu-iconic-left > .menu-iconic-icon) {
    margin: 0 6px 0 10px !important;
  }
}

#customizationui-widget-multiview #appMenu-libraryView,
#pageActionPanel panelview,
#widget-overflow panelview {
  min-width: 0 !important;
  padding: var(--item_y_padding) 0 !important;
}

/* Extensions panel compact */
.unified-extensions-item-menu-button.subviewbutton {
  padding: 0 !important;
  margin-inline-end: 0 !important;
}
.unified-extensions-item-action-button.subviewbutton {
  padding-block: 6px !important;
}
.unified-extensions-item-menu-button.subviewbutton > .toolbarbutton-icon {
  padding: 4px !important;
}
.unified-extensions-item-message-deck {
  display: none;
}
#unified-extensions-view > vbox > vbox > .unified-extensions-item {
  padding-block: 0 !important;
}
#unified-extensions-panel .unified-extensions-item {
  margin-block: 0 !important;
  padding: 0 !important;
}
.unified-extensions-item-name,
.unified-extensions-item-message {
  padding-inline-start: 0 !important;
  width: 28em !important;
}

/* Findbar compact */
.findbar-container,
.findbar-container * {
  padding: 0 !important;
}
.findbar-container {
  height: unset !important;
}
:is(.browserContainer, #viewSource) :is(findbar, #FindToolbar) {
  padding-block: unset !important;
}

/* Sidebar */
#sidebar {
  max-width: none !important;
  min-width: 0 !important;
}

/* Linux/GTK window controls */
.titlebar-buttonbox {
  align-items: stretch !important;
}
.titlebar-button {
  -moz-appearance: none !important;
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: currentColor;
  padding: 4px 6px !important;
  flex-grow: 1;
  overflow: -moz-hidden-unscrollable;
}
.titlebar-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.titlebar-min {
  list-style-image: url(chrome://browser/skin/zoom-out.svg);
}
.titlebar-close {
  list-style-image: url(chrome://global/skin/icons/close.svg);
  fill-opacity: 0;
  stroke: currentColor;
}

/* Context menu cleanup */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator {
  display: none !important;
}

/************** compact_menus_proton *********************/
.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
  padding: 2px !important;
}

menupopup > menuitem,
menupopup > menu {
  padding-block: 2px !important;
}

#context-navigation :-moz-any(#context-back, #context-forward, #context-reload, #context-stop, #context-bookmarkpage) {
  padding: 2px !important;
  -moz-margin-start: -10px !important;
}
