/* about:config compact styling */
@-moz-document url("about:config") {
  :is(.button-delete, .button-edit, .button-reset, .button-save, .button-toggle) {
    margin-block: 1px;
    padding: 11px 0 0;
    min-height: 22px;
    width: 22px;
    outline-offset: 0;
  }
  .cell-edit { width: 28px; }
  form > input,
  tr:not(.add) > th,
  tr:not(.add) > .cell-value { padding-block: 0; }
  tr:not(:hover) .semi-transparent:not(.primary, .button-add) { background-color: initial; }
}

/* about:addons compact grid layout with inline buttons */
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"), url("about:addons") {
  :root {
    overflow-x: hidden;
    --sidebar-width: 60px;
  }
  addon-card .addon-name-link { font-size: 0.9em; }
  .addon-card-message { margin-block: 0; }
  .card.addon { padding-bottom: 0; }
  addon-card .addon-card-collapsed {
    display: grid;
    grid-template-areas: "ic con" "op op";
    grid-template-columns: 48px auto;
  }
  addon-card .card-contents {
    width: initial;
    white-space: initial;
    grid-area: con;
  }
  .card-heading-icon { grid-area: ic; }
  .more-options-menu {
    position: static;
    grid-area: op;
    margin: 0;
  }
  plugin-options > panel-list,
  addon-options > panel-list {
    position: static;
    display: flex;
    padding: 0;
    margin: 0 calc(0px - var(--card-padding));
    border-width: 1px 0 0;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(127, 127, 127, 0.1);
    backdrop-filter: none;
  }
  button[role="menuitem"] {
    padding-inline-start: 30px;
    background-position-x: 8px;
  }
  .arrow,
  .more-options-menu > .more-options-button,
  .addon-name-container > .more-options-button,
  panel-item[action="expand"] { display: none; }
  div.list { display: inherit; flex-direction: row; }
  panel-item[action="toggle-disabled"] { --icon: url("chrome://browser/skin/quit.svg"); }
  panel-item[action="preferences"] { --icon: url("chrome://global/skin/icons/settings.svg"); }
  @media (min-width: 420px) {
    #main { max-width: unset; padding-right: 28px; }
    addon-list > section {
      padding: 1em;
      display: grid;
      grid-template-areas: "hd hd" "cd cd";
      grid-auto-columns: 1fr;
      column-gap: 1em;
    }
    addon-list[type="extension"] .addon-name-container {
      display: grid;
      grid-template-areas: "name badge opt" "name toggle toggle";
      grid-row-gap: 6px;
      grid-auto-columns: 1fr 24px auto;
    }
    .addon-icon { align-self: center; }
    .addon-name-container > .addon-name { grid-area: name; }
    .addon-name-container > :is(.toggle-button, moz-toggle) { grid-area: toggle; justify-self: end; }
    .addon-name-container > .addon-badge { grid-area: badge; }
    .card-heading-image { max-width: calc(100% + 32px); object-position: left; }
    section > h2 { grid-area: hd; }
    addon-card { padding-block: 0; grid-area: auto; }
    addon-card .addon-description { max-height: 3em; scrollbar-width: thin; }
    addon-list[type="theme"] addon-card { margin-right: auto; }
  }
  @media (min-width: 640px) {
    addon-list[type="extension"] > section { grid-template-areas: "hd hd hd" "cd cd cd"; }
  }
  @media (min-width: 960px) {
    addon-list[type="extension"] > section { grid-template-areas: "hd hd hd hd" "cd cd cd cd"; }
  }
  @media (min-width: 1180px) {
    addon-list[type="extension"] > section { grid-template-areas: "hd hd hd hd hd" "cd cd cd cd cd"; }
  }
  @media (min-width: 1420px) {
    addon-list[type="extension"] > section { grid-template-areas: "hd hd hd hd hd hd" "cd cd cd cd cd cd"; }
  }
  addon-card:not([expanded]) :is(.addon-badge-verified, .addon-badge-recommended, .addon-description, .addon-card-message button[action]) { display: none; }
  addon-list[type="extension"] { --card-padding: 8px; }
  #categories { width: var(--sidebar-width); }
  #categories > .category { margin-left: 10px; -moz-box-pack: center; }
  .sidebar-footer-list { margin-left: 18px; }
  .sidebar-footer-label,
  .category > .category-name { display: none; }
}

/* about: pages scrollbar styling */
@-moz-document url-prefix("about:") {
  window, page, html, .main-content, scrollbar {
    scrollbar-color: #d2d2d2 #2a2a2e;
    scrollbar-width: thin;
  }
}

/* Textbox focus ring removal */
:where(textarea, input[type="text"], input[type="search"], input[type="password"], input[type="url"]) {
  appearance: none;
  border-style: solid;
  outline: none;
}
