@-moz-document url("about:config") {
  :is(.button-delete, .button-edit, .button-reset, .button-save, .button-toggle) {
    margin-block: 1px;
    padding: 11px 0 0;
    min-height: 22px;
    width: 22px;
    outline-offset: 0;
  }
  .cell-edit {
    width: 28px;
  }
  form > input,
  tr:not(.add) > th,
  tr:not(.add) > .cell-value {
    padding-block: 0;
  }
  tr:not(:hover) .semi-transparent:not(.primary, .button-add) {
    background-color: initial;
  }
}
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"), url("about:addons") {
  :root {
    overflow-x: hidden;
    --sidebar-width: 60px;
  }
  addon-card .addon-name-link {
    font-size: 0.9em;
  }
  @media (min-width: 420px) {
    #main {
      max-width: unset;
      padding-right: 28px;
    }
    addon-list > section {
      padding: 1em;
      display: grid;
      grid-template-areas: "hd hd" "cd cd";
      grid-auto-columns: 1fr;
      column-gap: 1em;
    }
    addon-card .card-contents {
      width: unset;
      white-space: initial;
    }
    addon-list[type="extension"] .addon-name-container {
      display: grid;
      grid-template-areas: "name badge opt" "name toggle toggle";
      grid-row-gap: 6px;
      grid-auto-columns: 1fr 24px auto;
    }
    .addon-icon {
      align-self: center;
    }
    .addon-name-container > .addon-name {
      grid-area: name;
    }
    .addon-name-container > :is(.toggle-button, moz-toggle) {
      grid-area: toggle;
      justify-self: end;
    }
    .addon-name-container > .more-options-button {
      grid-area: opt;
      margin-inline: 0;
    }
    .addon-name-container > .addon-badge {
      grid-area: badge;
    }
    .card-heading-image {
      max-width: calc(100% + 32px);
      object-position: left;
    }
    section > h2 {
      grid-area: hd;
    }
    addon-card {
      padding-block: 0;
      grid-area: auto;
    }
    addon-card .addon-description {
      max-height: 3em;
      scrollbar-width: thin;
    }
    addon-list[type="theme"] addon-card {
      margin-right: auto;
    }
  }
  @media (min-width: 640px) {
    addon-list[type="extension"] > section {
      grid-template-areas: "hd hd hd" "cd cd cd";
    }
  }
  @media (min-width: 960px) {
    addon-list[type="extension"] > section {
      grid-template-areas: "hd hd hd hd" "cd cd cd cd";
    }
  }
  @media (min-width: 1180px) {
    addon-list[type="extension"] > section {
      grid-template-areas: "hd hd hd hd hd" "cd cd cd cd cd";
    }
  }
  @media (min-width: 1420px) {
    addon-list[type="extension"] > section {
      grid-template-areas: "hd hd hd hd hd hd" "cd cd cd cd cd cd";
    }
  }
  addon-card:not([expanded])
    :is(.addon-badge-verified, .addon-badge-recommended, .addon-description, .addon-card-message button[action]) {
    display: none;
  }
  addon-list[type="extension"] {
    --card-padding: 8px;
  }
  #categories {
    width: var(--sidebar-width);
  }
  #categories > .category {
    margin-left: 10px;
    -moz-box-pack: center;
  }
  .sidebar-footer-list {
    margin-left: 18px;
  }
  .sidebar-footer-label,
  .category > .category-name {
    display: none;
  }
}
@namespace html url("http://www.w3.org/1999/xhtml");
body input:not([value=""])[type],
body input:not([value=""])[type]:focus ~ *,
body input:not([value=""])[type] * {
  background-image: none;
  border-image: none;
  font-family: inherit;
  list-style-image: none;
  cursor: unset;
  content: none;
}
body input:not([value=""])[type]:is(::before, ::after),
body input:not([value=""])[type]:focus ~ *:is(::before, ::after),
body input:not([value=""])[type] *:is(::before, ::after) {
  content: none;
}
a:link[HREF*="ad"] img,
a:link[HREF*="click"] img,
a:link[HREF*="banner"] img,
a:link[HREF*="doubleclick"] img,
a:link[HREF*="adserve"] img,
a:link[HREF*="sponsor"] img,
iframe[SRC*="ad"],
iframe[SRC*="click"],
iframe[SRC*="banner"],
iframe[SRC*="doubleclick"],
iframe[SRC*="adserve"],
*[class*="ad-"],
*[class*="sponsor"],
*[ID*="ad"],
*[ID*="sponsor"],
img[src*="pixel"],
img[src*="track"] {
  display: none;
}
a:link[HREF*="/add"] img,
a:link[HREF*="/adsl"] img,
a:link[HREF*="download"] img,
a:link[HREF*="thread"] img,
a:link[HREF*="load"] img {
  display: inline;
}
object[type="application/x-shockwave-flash"],
embed[type="application/x-shockwave-flash"] {
  -moz-binding: url(http://www.squarefree.com/turing/clickToView.xml#ctv);
}
