# USB flash drives
ACTION=="add|change", KERNEL=="sd[a-z]", SUBSYSTEM=="block", ATTR{removable}=="1", ATTR{queue/scheduler}="bfq"

# SD cards
ACTION=="add|change", KERNEL=="mmcblk[0-9]*", SUBSYSTEM=="block", ATTR{queue/scheduler}="bfq"

# HDD
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq"

# SSD
ACTION=="add|change", KERNEL=="sd[a-z]*|mmcblk[0-9]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="mq-deadline"

# NVMe SSD
ACTION=="add|change", KERNEL=="nvme[0-9]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="kyber", ATTR{{queue/nr_requests}="1024", ATTR{queue/read_ahead_kb}="1024", ATTR{queue/iostats}="0"

# NVMe SSD
ACTION=="add|change", KERNEL=="nvme[0-9]*", ATTR{queue/rotational}=="0", \
  ATTR{queue/scheduler}="kyber", ATTR{queue/nr_requests}="1024", \
  ATTR{queue/read_ahead_kb}="512", ATTR{queue/iostats}="0"

# NVME SSD ADIOS
# ACTION=="add", KERNEL=="nvme[0-9]*", ATTR{queue/rotational}=="0", RUN+="/bin/sh -c 'modprobe -b adios; echo adios > /sys$DEVPATH/queue/scheduler'", ATTR{queue/scheduler}="kyber"

# TODO
# For non-rotational, non-virtual devices
# ACTION=="add", SUBSYSTEM=="block", KERNEL!="loop*", KERNEL!="zram*", ATTR{queue/rotational}=="0", RUN+="/bin/sh -c 'modprobe -b adios; echo adios > /sys$DEVPATH/queue/scheduler'"

# For rotational, non-virtual devices
# ACTION=="add", SUBSYSTEM=="block", KERNEL!="loop*", KERNEL!="zram*", ATTR{queue/rotational}=="1", RUN+="/bin/sh -c 'modprobe -b adios; echo adios > /sys$DEVPATH/queue/scheduler'"
