# Files in $CONFIG_DIR/topgrade.d/ are automatically included before this file
[include]
# paths = ["/etc/topgrade.toml"]

[misc]
pre_sudo = true
disable = ["system", "config_update", "vim"]
ignore_failures = ["system", "micro", "uv", "pipx", "shell", "yazi", "bun", "mise", "yadm", "node"]
assume_yes = true
no_retry = true
cleanup = true
skip_notify = true
notify_each_step = false
no_self_update = true
run_in_tmux = false

[pre_commands]
"pacfree" = "rm -f /var/lib/pacman/db.lck"
"pacpart" = 'sudo find /var/cache/pacman/pkg/ -iname "*.part" -delete'

[post_commands]
"paru_clean" = "paru -Scc --noconfirm; sudo paccache -rk0"
"mise_clear" = "mise cache c -y"
"bun_clear" = "bun pm cache rm"
"uv_clear" = "uv clean"
"cargo_cache" = "cargo cache -efg; cargo cache -ef trim --limit 1B"

[brew]
greedy_cask = true
greedy_latest = true
greedy_auto_updates = true
autoremove = true
fetch_head = true

[linux]
# autodetect, pacman, paru, yay, aura, pamac, pikaur, trizen
arch_package_manager = "paru"
yay_arguments = "--combinedupgrade --batchinstall --nocheck --removemake --cleanafter --noconfirm --needed"
show_arch_news = false
enable_tlmgr = true
nix_arguments = "--flake"
# nix_env_arguments = "--prebuilt-only"
home_manager_arguments = ["--flake", "file"]

[mandb]
enable = true

[pkgfile]
enable = true

[git]
max_concurrency = 8
pull_predefined = false
# arguments = "-r -p --autostash"
# fetch_only = false

[windows]
accept_all_updates = true
winget_silent_install = true
self_rename = true

[mise]
bump = false
jobs = 8
interactive = false

[npm]
use_sudo = true

[firmware]
upgrade = true

[flatpak]
# Use sudo for updating the system-wide installation
use_sudo = true

[containers]
# Specify the containers to ignore while updating (Wildcard supported)
# ignored_containers = ["ghcr.io/rancher-sandbox/rancher-desktop/rdx-proxy:latest", "docker.io*"]
# Specify the runtime to use for containers (default: "docker", allowed values: "docker", "podman")
runtime = "podman"
system_prune = true
use_sudo = true

[lensfun]
use_sudo = true

[zigup]
cleanup = true

[rustup]
# If set, updates only these channels.
# (default: [] (all channels))
# channels = ["stable"]

[vscode]
# If this is set and is a non-empty string, it specifies the profile the
# extensions should be updated for. (default: this won't be set by default)
profile = "Main"
