# USB/SD
ACTION=="add|change", KERNEL=="sd[a-z]|mmcblk[0-9]*", ATTR{removable}=="1", ATTR{queue/scheduler}="bfq", ATTR{queue/read_ahead_kb}="64"

# HDD
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq", ATTR{queue/iostats}="1", ATTR{queue/read_ahead_kb}="64"

# SSD (SATA/MMC)
ACTION=="add|change", KERNEL=="sd[a-z]|mmcblk[0-9]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="mq-deadline", ATTR{queue/read_ahead_kb}="1024"

# NVMe SSD
# Read-ahead: 2048KB (balance for Gaming/Dev)
ACTION=="add|change", KERNEL=="nvme[0-9]*n[0-9]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="none", \
    ATTR{queue/read_ahead_kb}="2048", ATTR{queue/nr_requests}="1024", ATTR{queue/iostats}="0", ATTR{queue/add_random}="0"
