name: Dependabot auto-approve
on: pull_request
permissions:
  contents: read
  pull-requests: write
jobs:
  dependabot:
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'Ven0m0/dotfiles'
    uses: Ven0m0/.github/.github/workflows/deps.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
