name: Fish lint
on:
  workflow_dispatch:
  push:
    paths: ['**/*.fish', '**/fish_*', 'Home/.config/fish/*']
  pull_request:
    paths: ['**/*.fish', '**/fish_*', 'Home/.config/fish/*']
concurrency:
  group: ${{github.workflow}}-${{github.head_ref || github.run_id}}
  cancel-in-progress: true
permissions:
  contents: write
  pull-requests: write
jobs:
  fish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
        ref: ${{github.head_ref}}
        token: ${{secrets.GITHUB_TOKEN}}
    - name: Install fish shell
      uses: fish-shop/install-fish-shell@v1
  
    - name: Syntax check
      uses: fish-shop/syntax-check@v2
    - name: Indent check
      uses: fish-shop/indent-check@v2
    - name: Run Fishtape tests
      uses: fish-shop/run-fishtape-tests@v2
