name: Fish lint
on:
  workflow_dispatch:
  push:
    paths:
      - '**/*.fish'
      - '**/fish_*'
      - 'Home/.config/fish/*'
  pull_request:
    paths:
      - '**/*.fish'
      - '**/fish_*'
      - 'Home/.config/fish/*'
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  fish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Fish
        run: |
          sudo apt-add-repository -yu ppa:fish-shell/release-3
          sudo apt-get install -y fish
      - name: Install Tools
        shell: fish {0}
        run: |
          curl -sL https://git.io/fisher | . && fisher install jorgebucaran/fisher
          fisher install $GITHUB_WORKSPACE jorgebucaran/fishtape
      - name: Run tests
        shell: fish {0}
        run: fishtape **/*.fish
      - name: Fish indent
        run: |
          find -O2 . -type f -name '*.fish' -exec fish_indent -w {}
          
        - name: Commit Changes
          uses: stefanzweifel/git-auto-commit-action@v7
          with:
            commit_message: 'chore(fish): lint fish scripts
            branch: ${{ github.head_ref || github.ref_name }}
            commit_user_name: 'github-actions[bot]'
            commit_user_email: '41898282+github-actions[bot]@users.noreply.github.com'
