name: Lint & Format
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  lint-format:
    uses: Ven0m0/.github/.github/workflows/lint-format.yml@main
    secrets: inherit
