name: MegaLinter
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT || github.token }}
      - name: Format Code
        uses: qltysh/qlty-action/fmt@v2
        with:
          commit: true
      - name: Megalinter
        uses: Ven0m0/.github/.github/workflows/unified-linters.yml@main
        with:
          exclude_dirs: ".github,.git,.cache,go,node_modules,.var,.rustup,.wine,.zim,.void-editor,.vscode,.claude"
          secrets: inherit

