name: Mise
on: workflow_dispatch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  run:
    uses: Ven0m0/.github/.github/workflows/mise.yml@main
    secrets: inherit
