name: Shell Lint
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  lint:
    uses: Ven0m0/.github/.github/workflows/shell-lint.yml@main
    with:
      exclude_pattern: '(^|/)\.git/|(^|/)Linux-Settings/'
