name: Submodule Update
on:
  workflow_dispatch:
  schedule: [{cron: "0 5 * * 0"}]
permissions:
  contents: write
  pull-requests: write
jobs:
  update:
    uses: Ven0m0/.github/.github/workflows/git-maintenance.yml@main
