name: Submodule Update
on:
  workflow_dispatch:
  schedule: [{cron: "0 5 * * 0"}]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: write
  pull-requests: write
jobs:
  update:
    uses: Ven0m0/.github/.github/workflows/git-maintenance.yml@main
